<!DOCTYPE html>
<html>
<head>
    <title>Equation Solver</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <h1>Equation Solver</h1>
    <form method="POST">
    <textarea name="equation" rows="4" cols="50" placeholder="e.g.\nx + y = 10\n2x - 4y = 20"></textarea><br>
    <button type="submit">Solve</button>
</form>


    {% if result %}
        <div>{{ result|safe }}</div>
    {% endif %}

    {% if expression %}
    <form method="POST" action="/graph">
        <input type="hidden" name="expression" value="{{ expression }}">
        <button type="submit">Plot Graph</button>
    </form>
    {% endif %}
</body>
</html>
